<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 应用配置，服务提供方和消费方都有-->
    <dubbo:application name="springboot-dubbo-server"/>

    <!-- 注册中心配置，使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="47.93.245.76:2181,47.93.245.76:2182,47.93.245.76:2183" timeout="60000" />

    <!-- 协议配置，由服务提供方指定，消费方被动接受。这里指定在20889端口暴露服务，默认端口在20880-->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 暴露dubbo服务的方式一-->
    <!-- 使用注解方式暴露接口，会自动扫描package下所有包中dubbo相关的注解，这样就不用在xml中再针对每个服务接口配置dubbo:service interface-->
<!--    <dubbo:annotation package="com.lcyanxi.service.impl"/>-->
    <dubbo:service  interface="com.lcyanxi.service.IUserLessonService" ref="userLessonService"/>
</beans>