<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:rdb="http://www.dangdang.com/schema/ddframe/rdb"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.dangdang.com/schema/ddframe/rdb">


	<!-- 数据源 -->
	<bean id="ds_0" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" primary="true">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://47.93.245.76:3306/test?characterEncoding=utf-8" />
		<property name="username" value="root" />
		<property name="password" value="lc121718" />
	</bean>

	<rdb:strategy id="userLessonTableStrategy" sharding-columns="user_id"
				  algorithm-class="com.lcyanxi.config.UserSingleKeyTableShardingAlgorithm" algorithm-expression="pr_user_lesson_${user_id.longValue() % 4}"/>

	<rdb:data-source id="dataSource">
		<rdb:sharding-rule data-sources="ds_0">
			<rdb:table-rules>
				<rdb:table-rule logic-table="pr_user_lesson" actual-tables="pr_user_lesson_${0..3}" table-strategy="userLessonTableStrategy"/>
			</rdb:table-rules>
		</rdb:sharding-rule>
	</rdb:data-source>



</beans>